@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');
:root{
    --red-color:#D84040;
}
a{
    text-decoration: none;
    color: inherit;
}
.active-nav {
    color: #D84040 !important;
    border-bottom: 2px solid #D84040;
    font-weight: bold;
}

html {
    font-size: 16px;
  
    @media (max-width: 768px) {
      font-size: 14px;
    }
  
    @media (max-width: 480px) {
      font-size: 13px;
    }
  }